<div class="container-fluid p-0 m-0">
    <div class="row ">
        <div class="col-sm-2 users">
            <div>
                <h2>Users</h2>
            </div>
            <div class="online-users-panel">
                <div class="chat-row-wrp">
                    <ng-container *ngFor="let user of users;">
                        <div class="online-user">
                            <div class="online-icon">
                                <span *ngIf="user?.id.length > 0" class="online"></span>
                            </div>
                            <span class="name-initials" class="text-center  user ms-5 rounded-circle border border-3">{{user.name|username}}</span>
                        </div>
                        
                    </ng-container>
                    <div class="online-users" *ngIf="users?.length ==0">No Users</div>
                </div>
            </div>

        </div>
        <div class="col-sm-10  d-flex flex-column">
            <div class="box1">
                <ng-container *ngFor="let message of messages;">
                    <div class="message-right">
                        <div class="msg-to">
                            {{message.msg}}
                            <span class="time text-muted small">
                                {{message.time|chatTime}} | {{message.user}}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="send-text">
                <input type="text" placeholder="Type your message here.." name="textsend" [(ngModel)]="msgtext" class="w-75" />
                <button ><i class="fa-solid fa-paper-plane" (click)="sendMessage()"></i></button>
            </div>
         
        </div>
</div>