.box1{
    height: 500px;
   background-image: url("src/assets/image/railroad-gfda7e6c58_1280.jpg");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   
   
}
.users{
    border-right: 2px solid black;
    
}
.user{
    font-size: 30px;
}
